<table id="manager" cellspacing="0">
<% for feed in @aggregation.feeds %>
  <tr>
     <td>
	    <%= link_to(image_tag("delete.png" , :size => "40x40" ), {:controller => 'aggregations', :action => 'remove_feed', :id => @aggregation.id, :feed_id => feed.id}, {:confirm => 'Are you sure you want to remove this feed?', :class => 'admin', :target => "_self"}) %>
	    <p class="subtitle"><%= link_to 'Remove', {:controller => 'aggregations', :action => 'remove_feed', :id => @aggregation.id, :feed_id => feed.id}, {:confirm => 'Are you sure you want to remove this feed?', :class => 'admin', :target => "_self"} %></p>
     </td>
     <td style="text-align:left;padding-left:20px"><%= link_to h(feed.title) || h(feed.uri), {:controller => 'feeds', :action => 'show', :aggregation_id => @aggregation, :id => feed.id}, {:target => "_self"} %></td>	    
  </tr>
<% end %>
</table>
<div style="margin:10px">
  <%= link_to(image_tag("add.png" , :size => "40x40" ), new_aggregation_feed_path(@aggregation), {:title => "Add a new feed.", :target => "_self"}) %>
  <p class="subtitle"><%= link_to('Add Feed', new_aggregation_feed_path(@aggregation), {:title => "Add a new feed.", :target => "_self"}) %></p>
</div>